/**
 * Footer
 */

.footer {

    .footer-title {
        text-transform: uppercase;
    }
    
    .loja-protegida{
        
        center{
            text-align: left;
        }
    }
    
    .payment-forms{
        font-size: 0;
        
        img{
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}
