/* MENU MOBILE - INICIO */

.menu-mobile2 .list-group {
    display: none;
}

.menu-open .menu-mobile{
    opacity: 1;
    top: 0;    
    visibility: visible;
}

.menu-mobile {
    background: #f4f4f4;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    
    -webkit-transition: 300ms all ease;
       -moz-transition: 300ms all ease;
         -o-transition: 300ms all ease;
            transition: 300ms all ease;
            
    > h3{
        background: #000;
        color: #fff;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        padding-left: 35px;
        
        i{
            height: 50px;
            line-height: 0;
            padding-top: 15px;
            position: relative;
        }
    }
    
    .icon-arrow{
        font-size: 0;
        padding: 10px 0;
    }
    
    .back-category{
        display: none;
        left: 15px;
        position: absolute;
        top: 0;
    }
    
    /* level 1*/
    .level1{
        clear: both;
        -webkit-transition: 300ms all ease;
           -moz-transition: 300ms all ease;
             -o-transition: 300ms all ease;
                transition: 300ms all ease;
    }
    
    .item-level1{
        border-bottom: 1px solid #dedede;
    }
    
    .link-level1{
        display: block;
        line-height: 40px;
    }
    
    /* level2 */
    .level2 {
        display: none;
        left: 100%;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .item-level2{
        border-bottom: 1px solid #dedede;
    }
    
    .link-level2{
        display: block;
        line-height: 40px;
    }
    
    /* level3 */
    .level3 {
        display: none;
        left: 200%;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .item-level3{
        border-bottom: 1px solid #dedede;
    }
    
    .link-level3{
        display: block;
        line-height: 40px;
    }
}